<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div style="position: absolute; z-index: 1000; width: 100%;"><%- include("partials/headerAdmin.ejs" );%></div>
    <div class="hero">
        <h1 class="title"  style="margin-top: 20%;">Connecting Hearts, Changing Lives.</h1>
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/xwjtkymn.json"
    trigger="loop"
    colors="primary:#08a88a,secondary:#121331"
    style="width:50px;height:50px;margin-top: 20%;">
</lord-icon>
<p style="text-transform: lowercase;">scroll down</p>
    </div>

   
        
        <div class="content">
             
              <div id="cards">
                <a href="/addEvent">

                    <div class="card">
                        <img class="card-front-image card-image"
                            src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Build-a-home-Volunteering.jpg" />
            
                        <div class="card-faders">
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Build-a-home-Volunteering.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Build-a-home-Volunteering.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Build-a-home-Volunteering.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Build-a-home-Volunteering.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Build-a-home-Volunteering.jpg" />
                        </div>
                        <div class="card-text">
                            <h2>Need Volunteers</h2>
                        </div>
                    </div>
                </a>
                <a href="/events">

                    <div class="card">
                        <img class="card-front-image card-image"
                            src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Volunteering-at-a-food-bank.jpg" />
                        <div class="card-faders">
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Volunteering-at-a-food-bank.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Volunteering-at-a-food-bank.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Volunteering-at-a-food-bank.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Volunteering-at-a-food-bank.jpg" />
                            <img class="card-fader card-image"
                                src="https://globalgrasshopper.com/wp-content/uploads/2022/05/Volunteering-at-a-food-bank.jpg" />
                        </div>
                        <div class="card-text">
                            <h2>Want to Volunteer</h2>
                        </div>
                    </div>
                </a>
    
        
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    
    <script>
    
    
        // Wrap every letter in a span
    var textWrapper = document.querySelector(".title");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    
    anime
      .timeline({ loop: false})
      .add({
        targets: ".title .letter",
        translateX: [40, 0],
        translateZ: 0,
        opacity: [0, 1],
        easing: "easeOutExpo",
        duration: 1200,
        delay: (el, i) => 500 + 30 * i,
      });
    
    
    
      gsap.to(".hero", {
      x: () =>
        -(document.querySelector(".content").offsetWidth - window.innerWidth),
      ease: "none",
      scrollTrigger: {
        trigger: ".content",
        start: "top top",
        end: "bottom top",
        scrub: true,
      },
    });
    
    </script>
    <script src="/js/home/home.js"></script>
</body>
</html>